* {
    margin: 0;
    box-sizing: border-box;
}


h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
    flex-direction: column;
    height: 90px;
    margin-bottom: 40px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* flex: 1 1 200px; */
    font-size: larger;
 
}
#label {
    font-size: xx-large;
    padding-bottom: 10px;
}
.input-css {
    height: 40px;
    width: 250px;
    font-size: 14pt;
    margin-bottom: 10px;
    border-color: rgb(13, 12, 13);
    border: solid;
    border-style: double;

}


#button {
    color: white;
    background-color: black;
    margin-bottom: 20px;
    width: 5vw;
    height: 5vh;
    border-style: dotted;
    font: bold;
    font-size: medium;
    /* display: flex;
    align-items: center; */
}


#error {
    display: none;
    background: #f54242;
    border: 1px solid #bd1717;
    padding: 10px;
    margin: 5px;
    color: #fff;
    font-weight: bold;
    width: fit-content;
    margin-left: 43%;


}

#display-question {
    display: flex;
    flex-direction: row;
   margin-left: 25% ;
    align-items: center;
    /* flex: 1 1 200px; */
    font-size: larger;
}


#answer {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center;
    flex: 1 1 200px;
    flex-direction: column;
    font-size: larger; */
    margin-left: 36%;

}
